/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.container .large-header {
	/* background-image: url('./bg.jpg'); */
	background-image: url('https://cdn.jsdelivr.net/gh/wangkai6688/web/admin/style/bg.jpg');
}
.logo_box{
	width: 400px;
	padding: 35px;
	color: #EEE;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -200px;
	margin-top: -250px;
}
.logo_box h3{
	text-align: center;
	height: 20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #FFFFFF;
	height: 20px;
	line-height: 20px;
	padding:0 0 35px 0;
}
.forms{
	width: 280px;
	height: 485px;
}
.logon_inof{
	width: 100%;
	min-height: 450px;
	padding-top: 35px;
	position: relative;
}
.input_outer{
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	border: rgba(0, 0, 0, 0.57) 1px solid !important;
	background: #ffffffe6;
}
.input_outer:focus{
    background: #ffffff;
}
.u_user{
	width: 25px;
	height: 25px;
	background: url(https://cdn.jsdelivr.net/gh/wangkai6688/web/admin/style/login_ico.png);
	background-position:  -125px 0;
	position: absolute;
	margin: 10px 13px;
}
.us_uer{
	width: 25px;
	height: 25px;
	background-image: url(https://cdn.jsdelivr.net/gh/wangkai6688/web/admin/style/login_ico.png);
	background-position: -125px -34px;
	position: absolute;
	margin: 10px 13px;
}
.l-login{
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 0;
	height: 46px;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	line-height: 46px;
}
.text{
	width: -webkit-fill-available;
	height: 44px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
	color: #042842 !important;
	margin-bottom: 30px;
    border-radius: 50px;
}
/*///*/
.mb2{
	margin-bottom: 20px
}
.mb2 a{
	text-decoration: none;
	outline: none;
}
.submit {
	padding: 15px;
	margin-top: 20px;
	display: block;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.act-but{
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	background: #10315eb8;
	width: 100%;
}
.act-but:hover{
    background: #10315eeb;
}
.more-link{
    text-align: center;
    font-size: 87.5%;
    margin-top: 20px;
}

.input_outer:focus {
    background: #fff;
    border-color: #20a0ff;
    -webkit-box-shadow: 0 0 0 3px rgba(32,160,255,.2)!important;
    box-shadow: 0 0 0 3px rgba(32,160,255,.2)!important;
    -webkit-transition: .25s;
    transition: .25s;
}

