.icon {
    font-size: 24px;
    width: 100px; padding: 20px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
}

.icon img{
    width: 100%;
}

.icon-color1 {
  background-color: #2c3e50;;
}

section#apply{
    color: white !important;
}

.fixed-bg-apply {
  padding-top: -5px !important;
  background-color: tomato;
  background-image: url('../img/fellow.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.fixed-bg-divapply {
  padding-top: 15px !important;
  background-color: transparent;
  background-image: -webkit-linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
  background-image: -o-linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
  background-image: linear-gradient(#B2B2B2, rgba(128, 11, 54, 0.50) 56%);
}