/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    /*font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
    "Lato",Calibri,Arial,sans-serif;*/
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    /*font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Dosis', sans-serif;*/
}


h2 { 
 *font-family: 'Source Sans Pro', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #D3279C;
    /*box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) inset, 0px 5px 4px rgba(0, 0, 0, 0.12);*/
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}


/* Change hover text colour */
.main-navigation li a:hover {
 color: deeppink;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #D3279C;
    background-color: #DA2426;
}

.active {
    font-weight: bold;
    color: red;
}

.navbar-brand strong {
    color: #ffffff;
}

/*.navbar-inverse .navbar-brand i {
color: #ff7878;
}
*/
.navbar-brand strong:hover {
    color: tomato;
}

.header_container {
    position: absolute;
    top: 180px;
    left: 33%;
    width: 435px;
    height: 200px;
}

.logo {
    width: 85%;
    margin: 35px auto 20px auto;
}

.logo img {
    position: absolute;
    left: -19%;
    height: 49%;
    top: 10%;
    border-bottom: 2px solid #35485b;
}

.tag_line {
    font-size: 2.3em;
    text-align: center;
    color: #35485b;
    position: absolute;
    top: 61%;
    left: 21%;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url(../img/img_hero.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a img {
    height: 107%;
    position: relative;
    top: -6%;
}

/* About */

.about, 
.andela_fellow,
.mean_stack{
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Footer */

/*footer {
    padding: 100px 0;
    background-color: black;
    color: white;
}*/

a.selected {
    color: red;
}

.center{
  text-align: center;
}
/*footer*/

.footer-col {
  display: block;
  margin: 50px auto 30px;
  padding-top: 0px;
}
.footer-col-head {
  color: white;
}
.footer-col-text {
  border-right: 4px solid white;
  border-left: 4px none white;
  color: white;
  text-align: center;
}
.footer-col-text-bar-last {
  border-right: 0px none white;
  color: white;
  text-align: center;
}


.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 1em;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
}

.hi-icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
  content: "\e009";
}

.hi-icon-mail:before {
  content: "\e00d";
}

.hi-icon-location:before {
  content: "\e00e";
}




/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
  box-shadow: 0 0 0 4px rgba(255,255,255,1);
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .hi-icon:after {
  display: none;
}


.no-touch .hi-icon-effect-5 .hi-icon:hover {
  background: rgba(255,255,255,1);
  color: #3DE6BA;
  box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.no-touch .hi-icon-effect-5a .hi-icon:hover:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}


@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

.no-touch .hi-icon-effect-5b .hi-icon:hover:before {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  -moz-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toLeftFromRight {
  49% {
    -moz-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}

.no-touch .hi-icon-effect-5c .hi-icon:hover:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

.no-touch .hi-icon-effect-5d .hi-icon:hover:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/*testing code*/


.group{
    clear: both;
}



@font-face {
  font-family: 'ecoicon';
  src:url('../fonts/ecoicons/ecoicon.eot');
  src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ecoicons/ecoicon.woff') format('woff'),
    url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
    url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.footer-col, .footer-col a{
    color: white;
}

.footer {
 background-color: black;
 padding-top: 20px;} 

.navbar-default .navbar-brand {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: auto !important;
}
.navbar-default {
    border-radius: 0 !important;
}

/*.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active:focus > a, .navbar-default .navbar-nav > li.active:hover > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li:focus > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.active:focus > a:focus, .navbar-default .navbar-nav > li.active:hover > a:focus, .navbar-default .navbar-nav > li:hover > a:focus, .navbar-default .navbar-nav > li:focus > a:focus {
    background-color: #52B6EC;
    color: #FFF;
}*/

.rounded {
    background: #ff1493;
    background-image: -webkit-linear-gradient(top, #ff1493, #e01283);
    background-image: -moz-linear-gradient(top, #ff1493, #e01283);
    background-image: -ms-linear-gradient(top, #ff1493, #e01283);
    background-image: -o-linear-gradient(top, #ff1493, #e01283);
    background-image: linear-gradient(to bottom, #ff1493, #e01283);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

.rounded:hover {
    background: #e66384;
    background-image: -webkit-linear-gradient(top, #e66384, #ff1493);
    background-image: -moz-linear-gradient(top, #e66384, #ff1493);
    background-image: -ms-linear-gradient(top, #e66384, #ff1493);
    background-image: -o-linear-gradient(top, #e66384, #ff1493);
    background-image: linear-gradient(to bottom, #e66384, #ff1493);
    text-decoration: none;
}
.normal{
    background: #cc708a;
    background-image: -webkit-linear-gradient(top, #cc708a, #b5103c);
    background-image: -moz-linear-gradient(top, #cc708a, #b5103c);
    background-image: -ms-linear-gradient(top, #cc708a, #b5103c);
    background-image: -o-linear-gradient(top, #cc708a, #b5103c);
    background-image: linear-gradient(to bottom, #cc708a, #b5103c);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
  }
  .normal:hover{
    background: #e66384;
    background-image: -webkit-linear-gradient(top, #e66384, #ff1493);
    background-image: -moz-linear-gradient(top, #e66384, #ff1493);
    background-image: -ms-linear-gradient(top, #e66384, #ff1493);
    background-image: -o-linear-gradient(top, #e66384, #ff1493);
    background-image: linear-gradient(to bottom, #e66384, #ff1493);
    text-decoration: none;
  }


@media screen and (max-width: 480px){
  .nav.navbar-nav.pull-right{
      float: none !important;
  }

  .footer-col-text {
  border-right: 0;
  border-left: 0;
 
    }
}


